In [1]:
#import all necessary modules
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint

# Import API key
import api_keys

# Get FBI API Key
API_KEY = api_keys.fbi_api_key

#Pull data from the website on trends for all crimes

# base url for getting api data
base_url = "https://api.usa.gov/crime/fbi/sapi/"
#Create a list of states in order to request data from each state
stateAbbr = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']
#Create a list of variables that we want to explore data for. In this case male and females
variable = 'all'
#declare the start and end year for the time period that we want to look at
since = '2010'
until = '2019'

#create an empty dataframe
crime_data = pd.DataFrame(columns=[])

#Create a for loop to request data for each state and for each variable for the offense that we would like to look at.
for i in stateAbbr:
    desired_endpoint = "api/arrest/states/offense/" + i + '/' + variable + '/' + since + '/' + until
    req = requests.get(base_url + desired_endpoint+'?api_key='+API_KEY).json()
    new = pd.DataFrame(req["data"])
    #Create new columns in the dataframe so that we know what data corresponds to each state and variable.
    new['State'] = i
    #Append the data from each request to the dataframe
    crime_data = crime_data.append(new)

In [2]:
#look at the data
crime_data.head()

   value  data_year  month_num                 key State
0   2678       2010          0  Aggravated Assault    AL
1      4       2011          0  Aggravated Assault    AL
2      7       2012          0  Aggravated Assault    AL
3     10       2013          0  Aggravated Assault    AL
4     40       2014          0  Aggravated Assault    AL

In [3]:
#Pull data from the website on employment of officers by state
#https://api.usa.gov/crime/fbi/sapi/api/police-employment/states/MO/2010/2019?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv


# base url for getting api data
base_url = "https://api.usa.gov/crime/fbi/sapi/"
#Create a list of states in order to request data from each state
stateAbbr = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']
#declare the start and end year for the time period that we want to look at
since = '2010'
until = '2019'

#create an empty dataframe
employment_data = pd.DataFrame(columns=[])

#Create a for loop to request data for each state and for each variable for the offense that we would like to look at.
for i in stateAbbr:
    desired_endpoint = "api/police-employment/states/" + i + '/' + since + '/' + until
    req = requests.get(base_url + desired_endpoint+'?api_key='+API_KEY).json()
    new = pd.DataFrame(req["results"])
    #Create new columns in the dataframe so that we know what data corresponds to each state and variable.
    #new['State'] = i
    #Append the data from each request to the dataframe
    employment_data = employment_data.append(new)

In [4]:
employment_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 499 entries, 0 to 9
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   data_year                   499 non-null    int64
 1   civilian_ct                 499 non-null    int64
 2   female_civilian_ct          499 non-null    int64
 3   female_officer_ct           499 non-null    int64
 4   female_total_ct             499 non-null    int64
 5   male_civilian_ct            499 non-null    int64
 6   male_officer_ct             499 non-null    int64
 7   male_total_ct               499 non-null    int64
 8   population                  499 non-null    int64
 9   total_pe_ct                 499 non-null    int64
 10  state_id                    499 non-null    int64
 11  state_name                  499 non-null    object
 12  state_abbr                  499 non-null    object
 13  agency_count_pe_submitting  499 non-null    int64
 14  csv_header                  0 non-null      object
 15  pe_ct_per_1000              498 non-null    float64
dtypes: float64(1), int64(12), object(3)
memory usage: 66.3+ KB

In [8]:
import itertools

#We have to loop through each year individually because the "since" and "until" params don't work correctly; they only return the first year. 
#This is the URL for 2010-2019, which only shows 2010:
#https://api.usa.gov/crime/fbi/sapi/api/summarized/state/AL/violent-crime/2010/2019/?api_key=QwksdNiqgHDxjjrIUm5flXAElC4cDbORXUX2VCtf

offense = ["violent-crime", "property-crime"]
year = ['2010', "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", '2019']

#create an empty dataframe
summarized_crime_type_data = pd.DataFrame(columns = [])

#Create a for loop to request data for each state and for each variable for the offense that we would like to look at.
for i,j,k in itertools.product(stateAbbr, offense, year):
    desired_endpoint = "api/summarized/state/" + i + "/" + j + "/" + k + "/" + k
    req = requests.get(base_url + desired_endpoint + "?api_key=" + API_KEY).json()
    new = pd.DataFrame(req["results"])
    #Append the data from each request to the dataframe
    summarized_crime_type_data = summarized_crime_type_data.append(new)

In [9]:
summarized_crime_type_data.head()

         ori  data_year        offense state_abbr  cleared  actual
0  AL0010000       2010  violent-crime         AL       26     349
1  AL0010100       2010  violent-crime         AL       53     289
2  AL0010200       2010  violent-crime         AL        0    1343
3  AL0010400       2010  violent-crime         AL       21     105
4  AL0010500       2010  violent-crime         AL       12      30

In [10]:
summarized_crime_type_data.tail()

          ori  data_year         offense state_abbr  cleared  actual
15  WY0060300       2019  property-crime         WY        1       4
16  WY0070000       2019  property-crime         WY       74     183
17  WY0070100       2019  property-crime         WY       53     253
18  WY0070200       2019  property-crime         WY      157     426
19  WY0080000       2019  property-crime         WY        3      27

In [11]:
#create an empty dataframe
summary_data = pd.DataFrame(columns = [])

#Create a for loop to request data for each state and for each variable for the offense that we would like to look at.
for i in stateAbbr:
    desired_endpoint = "api/estimates/states/" + i + "/" + since + "/" + until
    req = requests.get(base_url + desired_endpoint + "?api_key=" + API_KEY).json()
    new = pd.DataFrame(req["results"])
    #Create new columns in the dataframe so that we know what data corresponds to each state and variable.
    #new['State'] = i
    #Append the data from each request to the dataframe
    summary_data =summary_data.append(new)

In [12]:
summary_data.head()

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,2,AL,2015,4853875,22957,348,1449.0,2037.0,4612,15960,144785,35265,99182,10338,770
1,2,AL,2017,4875120,25469,419,NaN,2001.0,4233,18816,143774,31270,99707,12797,703
2,2,AL,2010,4785401,18363,275,1355.0,NaN,4864,11869,168828,42484,115564,10780,738
3,2,AL,2011,4803689,20166,299,1370.0,NaN,4906,13591,173192,51119,111411,10662,795
4,2,AL,2012,4817528,21693,342,1296.0,NaN,5020,15035,168878,47481,111523,9874,1040

In [14]:
import psycopg2

# Connecting to the Postgres Server
conn = psycopg2.connect("user=postgres password=CLS521")
#make it so that every transaction is run independently and a rollback is done automatically if a transaction fails, otherwise a commit occurs.
conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT);

In [15]:
# Get cursor object from the database connection
cursor = conn.cursor()

name_Database = "Crime_Data"

# Create the crime data database
sqlCreateDatabase = "create database "+name_Database+";"

# Create a table in PostgreSQL database
#cursor.execute(sqlCreateDatabase);

In [30]:
# Connecting to the database (set a new connection)
conn = psycopg2.connect("dbname=crime_data user=postgres password=CLS521")
#make it so that every transaction is run independently and a rollback is done automatically if a transaction failed, otherwise a commit occurs.
conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)
cursor = conn.cursor()

In [31]:
#Create the employment table in the database

name_Table = "employment_new"

# Create table statement
sqlCreateTable = "create table if not exists "+name_Table+" (data_year INT NOT NULL, civilian_ct INT NOT NULL, female_civilian_ct INT NOT NULL, female_officer_ct INT NOT NULL, female_total_ct INT NOT NULL, male_civilian_ct INT NOT NULL, male_officer_ct INT NOT NULL, male_total_ct INT NOT NULL, population INT NOT NULL, total_pe_ct INT NOT NULL, state_id INT NOT NULL, state_name VARCHAR (50), state_abbr CHAR (2), agency_count_pe_submitting INT NOT NULL, csv_header VARCHAR (50), pe_ct_per_1000 FLOAT8 NOT NULL);"

# Create the table if it doesn't already exists
cursor.execute(sqlCreateTable)

In [32]:
#Create the crime table in the database

name_Table = "crime_new"

# Create table statement
sqlCreateTable = "create table if not exists "+name_Table+" (value INT NOT null, data_year INT NOT NULL, month_num INT NOT NULL, key VARCHAR ( 100 ) NOT NULL, State CHAR ( 2 ) NOT NUll);"

# Create the table if it doesn't already exists
cursor.execute(sqlCreateTable)

In [33]:
#Create the summarized crime type table in the database

name_Table = "summarized_crime_new"

# Create table statement
sqlCreateTable = "create table if not exists "+name_Table+" (ori VARCHAR (50) NOT NULL, data_year INT NOT NULL, offense VARCHAR (50) NOT NULL, state_abbr CHAR (2), cleared INT NOT NULL, actual INT NOT NULL);"

# Create the table if it doesn't already exists
cursor.execute(sqlCreateTable)

In [34]:
#Create the summary table in the database

name_Table = "summary"

# Create table statement
sqlCreateTable = "create table if not exists "+name_Table+" (state_id INT NOT NULL, state_abbr CHAR (2) NOT NULL, year INT NOT NULL, population INT NOT NULL, violent_crime INT,homicide INT, rape_legacy FLOAT8, rape_revised FLOAT8, robbery INT, aggravated_assault INT, property_crime INT, burglary INT, larceny INT, motor_vehicle_theft INT, arson INT);"

# Create the table if it doesn't already exists
cursor.execute(sqlCreateTable)

In [39]:
#Function to add the rows of the dataframe into the postgreSQL table
def execute_many(conn, df, table):
    """
    Using cursor.executemany() to insert the dataframe
    """
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL query to execute
    # Change the values to reflect the correct number of columns in the dataframe. Uncomment the correct query before running.
    #1st query is for the crime_data dataframe 
    #query  = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s)" % (table, cols)  
    #2nd query is for the employment dataframe
    #query  = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s)" % (table, cols)
    #3rd query is for the summarized_crime table
    query = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s,%%s)" % (table, cols)
    #4th query is for the summary table
    #query  = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s,%%s)" % (table, cols)
    
    cursor = conn.cursor()
    try:
        cursor.executemany(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_many() done")
    cursor.close()

In [36]:
#call and run the function execute many specifying the connection, dataframe and table to add the data to. Change the values section of the function to represent the correct number of columns.   
execute_many(conn, crime_data, 'public.crime_new')

execute_many() done

In [38]:
#call and run the function execute many specifying the connection, dataframe and table to add the data to. Change the values section of the function to represent the correct number of columns.    
execute_many(conn, employment_data, 'public.employment_new')

execute_many() done

In [40]:
#call and run the function execute many specifying the connection, dataframe and table to add the data to. Change the values section of the function to represent the correct number of columns.    
execute_many(conn, summarized_crime_type_data, 'public.summarized_crime_new')

execute_many() done

In [25]:
#call and run the function execute many specifying the connection, dataframe and table to add the data to. Change the values section of the function to represent the correct number of columns.    
execute_many(conn, summary_data, 'public.summary')

execute_many() done